In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('/Users/winniechow/trading-wind-energy/AppendixData/guitrancourt.csv', header=3)
df

                     Time  Speed(m/s)  Direction (deg N)
0     2017/01/01 00:00UTC        1.86                212
1     2017/01/01 06:00UTC        2.47                194
2     2017/01/01 12:00UTC        3.75                186
3     2017/01/01 18:00UTC        3.22                192
4     2017/01/02 00:00UTC        2.27                194
...                   ...         ...                ...
5127  2020/07/07 00:00UTC        2.23                327
5128  2020/07/07 06:00UTC        1.02                228
5129  2020/07/07 12:00UTC        2.68                265
5130  2020/07/07 18:00UTC        3.40                322
5131  2020/07/08 00:00UTC        1.99                283

[5132 rows x 3 columns]

In [19]:
# Upsample to hourly
df.set_index('Time', inplace=True)
df.index = pd.to_datetime(df.index)
df = df.reindex(pd.date_range(start=df.index[0], end=df.index[-1], freq='H'))
df

                           Speed(m/s)  Direction (deg N)
2017-01-01 00:00:00+00:00        1.86              212.0
2017-01-01 01:00:00+00:00         NaN                NaN
2017-01-01 02:00:00+00:00         NaN                NaN
2017-01-01 03:00:00+00:00         NaN                NaN
2017-01-01 04:00:00+00:00         NaN                NaN
...                               ...                ...
2020-07-07 20:00:00+00:00         NaN                NaN
2020-07-07 21:00:00+00:00         NaN                NaN
2020-07-07 22:00:00+00:00         NaN                NaN
2020-07-07 23:00:00+00:00         NaN                NaN
2020-07-08 00:00:00+00:00        1.99              283.0

[30817 rows x 2 columns]

In [20]:
# Linearly interpolate missing values
df = df.interpolate()
df.to_numpy()

array([[  1.86      , 212.        ],
       [  1.96166667, 209.        ],
       [  2.06333333, 206.        ],
       ...,
       [  2.46      , 296.        ],
       [  2.225     , 289.5       ],
       [  1.99      , 283.        ]])